body {
    padding-bottom: 70px;
}

main {
    width: 80%;
    margin: auto;
}

#board {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

textarea {
    width: 40%;
    height: 50%;
}

